body {
  background-color: #e3f6f5;
}

hr {
  background-color: #e3f6f5;
  border-style: none;
  border-top-style:dotted;
  width: 5%;
  border-color: lightgrey;
  border-width: 5px;
}

h1{
  color: #018383;
}
h3{
  color: #66bfbf;
}
